*{
	margin: 0;
	padding: 0;
	font-family: p;
	line-height: 1.34;
}
/*google fonts here*/
/*if need bold and signature font*/
@font-face{
	src: url('../google.fonts/Kaushan_Script/KaushanScript-Regular.ttf');
	font-family: bs;
}
@font-face{
	src: url('../google.fonts/stisfy/Satisfy-Regular.ttf');
	font-family: bs2;
}
/*if need fonts for paragraph*/
@font-face{
	src: url('../google.fonts/Markazi_Text/MarkaziText-VariableFont_wght.ttf');
	font-family: p;
}
/*if need heading fonts*/
@font-face{
	src: url('../google.fonts/Roboto_Slab/RobotoSlab-VariableFont_wght.ttf');
	font-family: h;
}
/*google fonts here*/
/*header-area strart from here*/
.header-background-controll{
	width: 100%;
	height: 600px;
	background: url('../images1/post-bg.jpg') no-repeat center center / cover;
	margin-bottom: 100px;
}
/*header top area start from here*/
.header-top{
	width: 100%;
	height: 100px;
	margin-bottom: 50px;
}
.header-top:after{
	content: '';
	clear: both;
	display: block;
}
.logo-area{
	width: 35%;
	float: left;
}
.menu-area{
	width: 55%;
	float: left;
}
.logo-area h4{
	color: #fff;
	font-size: 25px;
	margin-top: 20px;
	margin-left: 25px;
	font-variant: small-caps;
	font-family: h;
}
.mobile-menu{
	display: none;
}
.header-menu nav ul li{
	display: inline-block;
}
.header-menu nav ul li a{
	text-decoration: none;
	font-size: 16px;
	margin-left: 10px;
	padding: 10px 25px;
	border-radius: 4px;
	border: 1px solid #fff;
	color: #fff;
	background: rgba(240, 244, 242, 0.62);
	margin-top: 20px;
	display: inline-block;
	text-transform: uppercase;
}
.header-menu nav ul li a:hover{
	background: #fff;
	color: #000;
}
.header-menu nav{
	text-align: right;
	margin-right: -100px;
}
.header-menu nav ul li .active{
	color: #000;
	background: #fff;
}
/*header top area stop here*/
/*header middle area start from here*/
.header-middle-content h1{
	color: #fff;
	font-size: 65px;
	width: 60%;
	margin-left: 150px;
	font-variant: small-caps;
	margin-bottom: 0;
	font-family: h;
}
.header-middle-content h2{
	color: #fff;
	font-size: 30px;
	margin-left: 150px;
	text-transform: capitalize;
	margin-bottom: 30px;
	font-family: h;
}
.header-middle-content p{
	color: #fff;
	font-size: 20px;
	margin-left: 150px;
	font-family: bs;
}
/*header middle area stop here*/
/*header area stop here*/
/*main area start from here*/
/*content area start from here*/
.content-1{
	width: 80%;
	color: #000;
	margin: auto;
	margin-bottom: 50px;
}
.content-1 p{
	font-size: 40px;
	text-align: justify;
	padding: 10px 20px;
}
.content-2{
	width: 80%;
	color: #000;
	margin: auto;
	margin-bottom: 50px;
}
.content-2 h2{
	font-size: 45px;
	font-family: h;
	text-align: justify;
	padding: 10px 20px;
	font-family: h;
}
.content-2 p{
	font-size: 40px;
	text-align: justify;
	padding: 0 20px;
	margin-top: 30px;
}
.quates{
	width: 85%;
	margin: auto;
	color: #000;
	margin-top: 40px;
	margin-bottom: 40px;
}
.quates q{
	text-transform: uppercase;
	text-align: justify;
	font-size: 30px;
	font-family: bs;
}
.content-3{
	width: 80%;
	color: #000;
	margin: auto;
	margin-bottom: 50px;
}
.content-3 h2{
	font-size: 45px;
	font-family: h;
	text-align: justify;
	padding: 10px 20px;
	font-family: h;
}
.content-3 p{
	font-size: 40px;
	text-align: justify;
	padding: 0 20px;
	margin-top: 30px;
}
.img-section{
	width: 70%;
	margin: auto;
	margin-top: 80px;
	margin-bottom: 80px;
}
.img-section img{
	width: 100%;
	margin: auto;
}
.img-section em{
	font-family: bs2;
	font-size: 21px;
}
.content-3 span:hover{
	text-decoration: underline;
	color: #000;
	cursor: pointer;
}
/*content area stop here*/
.shortcut{
	width: 60%;
	margin: auto;
	text-align: right;
	margin-bottom: 40px;
}
.home-icon a{
	text-decoration: none;
	color: #fff;
	background: #8a1717e0;
	padding: 8px 20px;
	border-radius: 5px;
	opacity: 0.5;
}
.home-icon a:hover{
	opacity: 1;
}
/*main area stop here*/
hr{
	border: 0;
	border-top: 1px solid #eee;
	margin-top: 30px;
	margin-bottom: 120px;
}
/*footer area start from here*/
/*fotter navigation area strat from here*/
.footer-navigation{
	width: 30%;
	margin: auto;
	text-align: center;
}
.footer-navigation nav ul li{
	display: inline-block;
}
.footer-navigation nav ul li a{
	text-decoration: none;
	color: #fff;
	background: #000;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin: auto;
	display: inline-block;
	margin-right: 20px;
}
.footer-navigation nav ul li:last-child a{
	margin-right: 0;
}
.footer-navigation nav ul li a:hover{
	color: #ddd;
	background: #999;
}
.footer-navigation nav ul li a i{
	font-size: 26px;
	margin-top: 10px;
}
.copyright-section{
	width: 22%;
	margin: auto;
	margin-top: 30px;
	margin-bottom: 20px;
}
.copyright-section p{
	font-size: 22px;
	text-transform: capitalize;
	text-align: center;
}
.copyright-section p:hover{
	color: #fff;
	background: #0085A1;
	border-radius: 5px;
}
/*footer navigation area stop here*/
/*footer area stop here*/